---
layout: categories_tags
permalink: /tags/
title: Tags
search_exclude: true
---

{% if site.tags.size > 0 %}
<h2>Contents</h2>

  {% assign tags = "" | split:"" %}
  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
  {% endfor %}
  {% assign tags = tags | sort_natural %}

  <ul>
  {% for tag in tags %}
    <li><a href="#{{ tag }}">{{ tag }}</a></li>
  {% endfor %}
  </ul>

  {% for tag in tags %}
      <h3 id ="{{ tag }}"><i class="fas fa-tags category-tags-icon"></i></i> {{ tag }}</h3>
      <a name="{{ tag | slugize }}"></a>
      {% for post in site.tags[tag] %}
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <article class="archive-item">
        <p class="post-meta post-meta-title"><a class="page-meta" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>  • {{ post.date | date: date_format }}</p>
      </article>
      {% endfor %}
  {% endfor %}

{% endif %}

